{% extends "base.html" %}

      {% block content %}  
        <div class="row">
            <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
                <!-- <h2>Дневник эмоций</h2> -->

                <div id="card_wrapper">
                  <div class="flexDiv">
                    <input type="checkbox" id="fear-box" />
                    <label for="fear-box">
                      <div class="tag fear pos-abs">Страх</div>
                    </label>

                    <input type="checkbox" id="sad-box" />
                    <label for="sad-box">
                      <div class="tag sad pos-abs">Грусть</div>
                    </label>
                
                    <input type="checkbox" id="glad-box"  checked />
                    <label for="glad-box">
                      <div class="tag glad pos-abs">Радость</div>
                    </label>

                    <input type="checkbox" id="angry-box"   />
                    <label for="angry-box">
                      <div class="tag angry pos-abs">Гнев</div>
                    </label>

                    <input type="checkbox" id="love-box"   />
                    <label for="love-box">
                      <div class="tag love pos-abs">Любовь</div>
                    </label>

                 

<div class="note">
  ужас - сильное возмущение, отвращение, негодование как реакция на что-либо
  <div class="tag fear">Страх</div>
  </div>
  <div class="note">
  отчаяние - душевное состояние крайней безнадёжности, ощущение безвыходности, безысходности, отсутствия перспективы; потеря, отсутствие надежды
  <div class="tag fear">Страх</div>
  </div>
  <div class="note">
  испуг - внезапное чувство страха
  <div class="tag fear">Страх</div>
  </div>
  <div class="note">
  оцепенение - бездейственность, безчувственность
  <div class="tag fear">Страх</div>
  </div>
  <div class="note">
  подозрение - предположение о возможности, неявном наличии чего-либо (часто нежелательного, дурного, опасного)
  <div class="tag fear">Страх</div>
  </div>
  <div class="note">
  тревога - чувство беспокойства, волнения в ожидании неприятности или опасности
  <div class="tag fear">Страх</div>
  </div>
  
  <div class="note">
  замешательство - смущение, неловкость, растерянность
  <div class="tag fear">Страхи</div>
  </div>
  
  <div class="note">
    вина - осознание того, что твои действия нанесли кому-то ущерб, горе, неприятности.
  <div class="tag fear">Страхи</div>
  </div>
  <div class="note">
стыд -  болезненная эмоция, возникающая как следствие осознания чего-то бесчестного, нелепого или неприличного в собственном поведении или обстоятельствах жизни
<div class="tag fear">Страхи</div>
  </div>
  <div class="note">
  беспокойство - нарушение душевного равновесие, тревога по поводу и без повода, выражающаяся в повышенном возбуждении человека
  <div class="tag fear">Страхи</div>
  </div>
  <div class="note">
  боязнь
  <div class="tag fear">Страхи</div>
  </div>
  <div class="note">
  сомнение
  <div class="tag fear">Страхи</div>
  </div>
  <div class="note">
  сломленность
  <div class="tag fear">Страхи</div>
  </div>
  
  
  
  
  <div class="note">
  горечь - тягостное, гнетущее чувство, вызываемое разочарованием, обидой, неудачей и т.п. 
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  тоска - сильное душевное томление, душевная тревога + грусть + скука, тягостное уныние
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  скорбь
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  лень 
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  жалость - сожаление, грусть, печальное чувство
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  отчаяние
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  беспомощность - ощущение того, что никто тебе не поможет, а сам ты не справишься.
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  разочарование - отрицательно окрашенное чувство, вызванное несбывшимися ожиданиями, надеждами или мечтаниями, чувство неудовлетворённости по поводу чего-нибудь не оправдавшего себя, неудавшегося
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  скука - состояние, характеризующееся снижением активности, отсутствием интереса к какой-либо деятельности, окружающему миру и другим людям, сопровождается раздражительностью и беспокойством.
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  безысходность
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  печаль - возникает в случае значительной неудовлетворённости человека в каких-либо аспектах его жизни
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  загнанность
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  безнадежность
  <div class="tag sad">Грусть</div>
  </div>
  <div class="note">
  сожаление
  <div class="tag sad">Грусть</div>
  </div>
  
  <div class="note">
  счастье - состояние человека, которое соответствует наибольшей внутренней удовлетворённости условиями своего бытия, полноте и осмысленности жизни, осуществлению своего человеческого назначения
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  восторг - ощущение мощного, внезапного, все заполняющего счастья, восторга
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  оживление
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  умиротворение
  <div class="tag glad">Радость</div>
  </div>
  
  <div class="note">
  уважение - позиция одного человека по отношению к другому, признание достоинств личности
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  интерес - чувство легкой степени любопытства к чему-то или кому-то.
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  забота - комплекс действий по отношению к какому-либо объекту, нацеленных на его благополучие
  <div class="tag glad">Радость</div>
  </div>
  
  <div class="note">
  ожидание
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  любопытство - чувство потребности человека в новизне, желание исследований, как физического, так и духовного мира
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  принятие
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  вера
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  изумление
  <div class="tag glad">Радость</div>
  </div>
  
  <div class="note">
  возбуждение
  <div class="tag glad">Радость</div>
  </div>
  <div class="note">
  освобождение
  <div class="tag glad">Радость</div>
  </div>
  
  <div class="note">
  бешенство
  <div class="tag angry">Гнев</div>
  </div>
  
  <div class="note">
  ярость - сильный гнев
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  злость - сильная эмоциональная реакция на негативное событие, выражающаяся в желании причинить зло
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  досада - злость, раздражение на факт случившегося, выраженная в ожесточении и неприятии ситуации, которую невозможно (или крайне трудно) изменить или предотвратить
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  раздражение - чувство острого недовольства, досады, злости
  <div class="tag angry">Гнев</div>
</div>

  <div class="note">
  ненависть - острое чувство неприязни по отношению к кому-либо или чему-либо
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  негодование - крайнее недовольство (Антонимы: Радость, Удовлетворение)
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  обида - чувство горечи, досады, вызываемое несправедливым, оскорбительным отношением к себе
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  недовольство - отсутствие удовлетворённости, отрицательное отношение к кому-чему-либо
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  ревность
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  зависть - чувство досады, вызванное превосходством, благополучием другого; желанием иметь то, что есть у другого
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  возмущение - очень сильное недовольство, негодование
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  презрение
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  истерия
  <div class="tag angry">Гнев</div>
  </div>
  
  <div class="note">
  отвращение
  <div class="tag angry">Гнев</div>
  </div>
  <div class="note">
  нежность - 	положительная эмоция, которая сопровождает ласковое поведение в отношениях с любимым человеком. Нежность выражается в особых жестах, мягкости, деликатности, внимании к потребностям объекта нежности, особом взгляде, голосе, заботливом и бережном отношении.
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  теплота
  <div class="tag love">Любовь</div>
  </div>
  
  <div class="note">
  сочувствие - глубокое интуитивное понимание переживаний другого человека
  <div class="tag love">Любовь</div>
  </div>
  
  <div class="note">
  блаженство
  <div class="tag love">Любовь</div>
  </div>
  
  
  <div class="note">
  доверие
  <div class="tag love">Любовь</div>
  </div>
  
  <div class="note">
  очарованность
  <div class="tag love">Любовь</div>
  </div>
  
  <div class="note">
  безопасность
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  благодарность - ответная реакция на действия другого человека или людей, которые доставили вам удовольствие или радость.
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  спокойствие
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  гордость - 	положительно окрашенная эмоция, отражающая положительную самооценку; наличие самоуважения, чувства собственного достоинства, собственной ценности.
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  восхищение
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  уважение
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  искренность
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  влюбленность - острая потребность в обществе другого человека, вызванная восхищением, иногда – идеализацией объекта влюблённости и всегда – желанием взаимности.
  <div class="tag love">Любовь</div>
  </div>
  <div class="note">
  доброта
  <div class="tag love">Любовь</div>
  </div>
  
  
  
  
  </div>
  </div>
  </div>
  </div>

              
<style>

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

#card_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: "Inter", sans-serif;
}


.flexDiv {
 display: flex;
  position: absolute;
  margin-top: 60px;
  width: 90vw;
  flex-wrap: wrap;
  max-width: 900px;
 left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#card_wrapper input[type="checkbox"] {
  display: none;
}

.pos-abs {
  position: absolute;
  top: -50px;
  margin: 8px;
  margin-top: 8px !important;
}
.pos-abs.sad {
  left: 95px;
}
.pos-abs.glad {
  left: 195px;
}

.pos-abs.angry {
  left: 310px;
}

.pos-abs.love {
  left: 395px;
}

#card_wrapper .tag {
 padding: 6px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9999px;
  margin-top: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}



.tag::before {
  content: "#";
  margin-right: 2px;
  opacity: 0.3;
}


.fear,
.note:has(.fear) {
  --tagColor: #fcdbcf;
}

.sad,
.note:has(.sad) {
  --tagColor: #ceba0c;
}

.glad,
.note:has(.glad) {
  --tagColor: #0cde28;
}


.angry,
.note:has(.angry) {
 --tagColor: #fcb029;
}

.love,
.note:has(.love) {
  --tagColor: #ff90b5d1;
}


.fear,
.sad,
.glad,
.angry,
.love{
  background-color: var(--tagColor);
}


.note {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease-in-out 0s;
}

.note:hover {
  border-color: var(--tagColor);
}


#fear-box:checked ~ .note:has(.fear),
#sad-box:checked ~ .note:has(.sad),
#glad-box:checked ~ .note:has(.glad),
#angry-box:checked ~ .note:has(.angry),
#love-box:checked ~ .note:has(.love) {
  width: 31%;
  height: auto;
  padding: 3%;
  margin: 1%;
  opacity: 1;
  border-width: 1px;
}


#angry-box:checked + label div,
#love-box:checked + label div {
  background-color: var(--tagColor);
  color: white;
}

#fear-box:checked + label div,
#sad-box:checked + label div,
#glad-box:checked + label div{
  background-color: var(--tagColor);
  color: unset;
}

#fear-box + label div,
#sad-box + label div,
#glad-box + label div,
#angry-box + label div,
#love-box + label div {
  background-color: white;
  border: 1px solid var(--tagColor);
  color: var(--tagColor);
}

#fear-box ~ .note:has(.fear),
#sad-box ~ .note:has(.sad),
#glad-box ~ .note:has(.glad),
#angry-box ~ .note:has(.angry),
#love-box ~ .note:has(.love) {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  border-width: 0;
}

#card_wrapper label {
  cursor: pointer;
}

#card_wrapper label:hover {
  opacity: 0.8;
}
</style>
               
      {% endblock %}