{% extends "base.html" %}

      {% block content %}  
        <div class="row">
            <div class="col-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
              {% endif %}
            {% endwith %}





            {% for key, value in emo_dict.items() %}

            
                {%  if value >= 5 %}

                <h4 style="margin-top:50px; margin-bottom: 30px;"><b>На этой неделе ты чаще всего испытывал(-а): </b></h4>

                      <p>{{ key }} - {{ value }} раз.</p> 

            

                      

                {% endif %} 

              {% endfor %} 

         
              <p>Для статистики пока мало данных, но процесс сбора данных твоих чувств и эмоций уже запущен. </p>
           

          
                

          
              {% for key, value in complete.items() %}
                
                
                  {%  if value >= 7 %}
                  <h4 style="margin-top:50px; margin-bottom: 30px;"><b>Итого:</b></h4>
                    <p> {{ key  *  value }}</p> 
                    <hr />

                  {% endif %} 
                {% endfor %} 

                <p>Для статистики пока мало данных, но процесс сбора данных твоего настроения уже запущен. </p>


            

<style>


</style>
          </div>

        </div>
       
   
               
      {% endblock %}