{% extends "base.html" %}

      {% block content %}  
        <div class="row">
            <div class="col-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

           
            
                {% for text in text_list %}
                  {% if text.user_id == current_user.id %}
              <div class="table-feel">
                    <p><b>Номер записи</b>: {{ text.id }}</p>

                    {% if text.published != None %}  
                    <p><b>Дата</b>: {{ text.published.strftime("%d/%B/%Y %H:%M") }}</p>
                    {% else %}  
                    <p><b>Дата</b> {{ text.published }}</p>
                    {% endif %}
                    
                    <p><b>Событие</b>: {{ text.text_situation }}</p>
                    <p><b>Телесные ощущения</b>: {{ text.text_bodily_sensations }}</b></p>
                    <p><b>Эмоции</b>: {{ text.text_emotions }}</p>
                    <p><b>Мысли</b>: {{ text.text_thoughts }}</p>
                    <p><b>Что сейчас думаю о ситуации</b>: {{ text.text_result }}</p>
                    <p><b>Победы дня</b>: {{ text.text_victory }}</p>
                    <p><b>Курьезы дня</b>: {{ text.text_curiosity }}</p>
                 
                  <div class="update-item">
                    <p class="upd-icon"><a href="{{ text.id }}/update_text_record" class="btn update-icon" title="Редактировать запись" alt="Редактировать запись">🖉</a></p>
                    <p><a href="{{ text.id }}/delete_text_record" class="btn delete-icon" title ="Удалить запись" alt="Удалить запись">🗑</a></p>
                  </div>
                <p class="line">_____________________________________________</p>

                  </tr>
                </tbody>
              </div>

              

              {% endif %}

          
           

              {% endfor %}



              <form action="{{ url_for('my_records.download') }}">
                <button class="op btn btn-info">Скачать мои записи</button>
            </form>

                </div>

              </div>

<style>

#update_form textarea{
 width: 100%;
}
.line {
  
  float: left;
 width: 100%;

}

.upd-icon {
  
    float: left;
    margin-right: 20px;

}
.update-icon {
  
    color: #fff;
    background: #01b501;
    font-size: 25px;

}

.delete-icon {
    font-size: 25px;
    background-color: blanchedalmond;
}
.op {
  margin-bottom: 100px;
  font-size: 20px;
}
.table-feel {
  overflow-wrap: break-word;
  

}

td, th {
    border: 1px solid #999;
    padding: 10px;
    position: relative;
}

th {
  background-color:#fff;
}

tr:first-child{
  background-color: beige;
}




</style>
         
       
   
               
      {% endblock %}